@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.7;
}

body {
  font-family: "Nunito Sans", sans-serif;
  --clr-body-background: hsl(207, 26%, 17%);
  --clr-card-background: hsl(209, 23%, 22%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-input-text: hsl(0, 0%, 100%);
  background: var(--clr-body-background);
  color: var(--clr-text);
  font-size: 1.6rem;
}

.light {
  --clr-body-background: hsl(0, 0%, 98%);
  --clr-card-background: hsl(0, 0%, 100%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-input-text: hsl(0, 0%, 52%);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

img {
  max-width: 100%;
}

/* HEADER  */

header {
  background: var(--clr-card-background);
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

header a {
  font-weight: 800;
  font-size: 2rem;
}

button {
  cursor: pointer;
}

header button {
  background: var(--clr-card-background);
  color: var(--clr-text);
  border: none;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* MAIN */
main {
  padding: 3rem 5rem;
  /* set position relative for positioning modal  */
  position: relative;
}

/* search filter container  */

.search-filter-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  margin-top: 2rem;
  padding-inline: 5rem;
}

/* SEARCH FIELD  */
form {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
  background: var(--clr-card-background);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

form input {
  border: none;
  background: var(--clr-card-background);
  color: var(--clr-input-text);
  padding: 2rem 0;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  font-size: 1.8rem;
}

.search-input::placeholder {
  font-weight: 600;
  color: rgb(231, 230, 230);
}

i {
  color: var(--clr-text);
  font-size: 1.8rem;
}

/* FILTER  */

select {
  background: var(--clr-card-background);
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  color: var(--clr-text);
  /* remove default border */
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  font-family: inherit;
  width: 200px;
}

/* Cards  style with grid */
/* .cards { */
/* display: grid; */
/* Note auto-fill instead of auto-fit to prevent 1 card to strech all the screen on search */
/* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5rem;
  place-content: center;
  padding: 4rem 5rem 0;
  margin: 0 auto; */
/* } */

.card {
  display: inline-block;
  background: var(--clr-card-background);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 4rem;
  color: var(--clr-text);
  cursor: pointer;
  transition: all 0.5s ease;
}

/* implement cards style responsive with flex  */

.cards {
  padding: 4rem 5rem 0;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.cards > * {
  flex: 1 0 auto; /* flex-grow: 1, flex-shrink:0,flex-basis: auto */
  width: 30rem; /* if width > max-width, use max-width */
  max-width: 100%; /* if max-width > width, use width */
}

.card:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
  transform: translate(3px, -3px);
}

.no-found {
  font-size: 2rem;
  color: var(--clr-text);
  text-align: center;
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  padding: 0 2rem;
}

.country-info {
  font-weight: 600;
}

/* MODAL  */
.country-info-page {
  padding: 3rem;
  color: var(--clr-text);
  background: var(--clr-body-background);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.country-details {
  margin-top: 4rem;
  display: grid;
  /* border: 1px solid red; */
  gap: 3rem;
}

.country-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.country-content-middle {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.active {
  visibility: visible;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  background: var(--clr-card-background);
  color: var(--clr-text);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  font-size: inherit;
  font-weight: 300;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  margin-right: 1rem;
}

.modal.open {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 900px) {
  /* MAIN */
  main {
    padding: 3rem 4rem;
  }
  /* search filter container  */

  .search-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .country-details {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .country-content-middle {
    justify-content: space-between;
    flex-direction: row;
  }

  .border-country-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
